:root{
    --primary-color: #EEB11A;
    --secondary-color: #A4BD3C;
    --clean-back-color: #FEFDF7;
    --accent-1: #39DC4E;
    --accent-2: #3A310F;
    --body-font: 'Inter', sans-serif;
    --script-font: 'Nerko One', cursive;
}

html{
    background-color: var(--clean-back-color);
    font-family: var(--body-font);
    color: black;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

h1,h2,h3,th{
    font-family: var(--script-font);
    color: var(--accent-2);
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 0 10px;
}
header h1{
    margin: 0;
}
input{
    text-align: center;
}
footer{
    width: 100%;
    margin-bottom: 0;
}
#likeColors h2{
    text-align: center;
    margin: 0 auto;
}
#rainbow{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: end;
}
.colorColumn{
    width: 100%;
}
#mainColor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.colorSquare{
    width: 80%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    background-color: red;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#colorDisplay{
    background-color: cornflowerblue;
    min-width: 100px;
    width: 50%;
    max-width: 500px;
    aspect-ratio: 1 / 1;
}
